{% extends 'base.html' %}
{% block content %}
{% load filters %}
 <section>
   <div class="container-md" style="max-width: 800px; text-align:center">
      <h3 style="padding:20px;">Add new snippet</h3>
      <form method="POST" style="display:block;">

          {% csrf_token %}

          <div class="form-group" style="padding:5px; text-align:left;">
              <label><strong>Snippet title</strong></label>
              {{ snippet_form.title | add_class:'form-control'}}
            </div>
            <div class="form-group" style="padding:5px;text-align:left;">
              <label><strong>Programming language</strong></label>
                <select class="form-control" name="language" required id="id_language">
                    <option value selected>---------</option>
                    {% for lang in languages %}
                       <option value={{lang.id}} required>
                           {{ lang.title }}
                       </option>
                    {% endfor %}
                </select>


            </div>
            <div class="form-group" style="padding:5px;text-align:left;">
              <label><strong>Snippet code</strong></label>
              {{ snippet_form.description| add_class:'form-control'}}
            </div>

          <input type="submit" value="Save snippet" class="btn btn-success" style="margin:20px;"/>
      </form>
   </div>
</form>
 </section>

{% endblock %}
