{% extends 'base.html' %}

{% block content %}

<main style="padding:10px;">

    <section>
    <div class="container-md" style="max-width: 1200px; text-align:center;">
    <h3 style="padding:10px;">Snippets</h3>
       <div class="accordion accordion-flush" id="snippets_list" >

        {% for snip in snippets %}

          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading-{{ snip.id }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ snip.id }}" aria-expanded="false" aria-controls="flush-collapse-{{ snip.id }}">
                <strong style="padding:5px"> {{ snip.title }} </strong> <span style="padding: 5px; color: gray; border-color:#baeeaa; border: 1px solid #baeeaa; border-radius:10px; font-size: 0.7rem">{{ snip.language.title }}</span>
              </button>
            </h2>
            <div id="flush-collapse-{{ snip.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ snip.id }}" data-bs-parent="#snippets_list">
                <div class="accordion-body">
                    {{ snip.description | safe }}
                </div>
                 <div style="padding:10px; text-align:right;">
                    <button type="button" class="btn btn-warning"><a href="edit_snippet/{{ snip.id }}" style="color: white; text-decoration:none;">Edit</a></button>
                    <a href="delete_snippet/{{ snip.id }}" class="btn btn-danger" style="color: white; text-decoration:none;">Delete</a>
                </div>
            </div>
          </div>

        {% endfor %}

        </div>
      </div>
      </section>

  </main>

{% endblock %}